html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}


html, body {
  font-family: "Source Code Pro", monospace;
  height: 100%;
  margin: 0;
  background: #210049;
  overflow: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout {
  display: flex;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}


.stage {
  background-color: #210049;
  border-radius: 8px;
  overflow: hidden;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #210049;
  padding: 15px;
  border-radius: 8px;
  color: #8d8d8d;
  border: 1px solid #ED244E;
}

button {
  background-color: #ED244E;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: #0a0a0a;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: #8d8d8d;
  color: #111;
}

input[type="range"] {
  width: 100%;
  accent-color: #ED244E;
}

select {
  background-color: #210049;
  color: #8d8d8d;
  border: 1px solid #ED244E;
  border-radius: 4px;
  padding: 2px 4px;
}
